<div id="{{id}}-panel" class="panel {{panelLayout}}">
  <div id="{{id}}-controls" class="panel-controls">
    <div id="{{id}}-left-controls" class="left-controls">
      {{#if sampleSelect}}
        <div id="{{id}}-sample-control">
          <label for="{{id}}-sample-select">Sample:</label>
          <select name="sample" id="{{id}}-sample-select">
            {{#each sampleNames}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
      {{/if}}
      {{#if dimSelect}}
        <div id="{{id}}-x-pca-dim-control">
          <label for="{{id}}-x-dim-select">PCA dim on x-axis:</label>
          <select name="pca-dim-x" id="{{id}}-x-dim-select">
            {{#each pcaDims}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        
        <div id="{{id}}-y-pca-dim-control">
          <label for="{{id}}-y-dim-select">PCA dim on y-axis:</label>
          <select name="pca-dim-y" id="{{id}}-y-dim-select">
            {{#each pcaDims}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
      {{/if}}
    </div>

    <div id="{{id}}-step-controls" class="center-controls">
      <span class="material-icons">
        <span id="{{id}}-back_all_btn" class="control-icon">
          first_page
        </span>
        <span id="{{id}}-back_one_btn" class="control-icon">
          chevron_left
        </span>
        <span id="{{id}}-play_pause_btn" class="control-icon">
          play_circle
        </span>
        <span id="{{id}}-forward_one_btn" class="control-icon">
          chevron_right
        </span>
        <span id="{{id}}-forward_all_btn" class="control-icon">
          last_page
        </span>
      </span>
      <br>
      <span id="{{id}}-step-counter">
      </span>
      <br>
      <span id="{{id}}-action-direction">
      </span>
    </div>

    <div id="{{id}}-salency-controls" class="right-controls">
      {{#if salencySelect}}
        <label for="{{id}}-salency-select">Salency type:</label>
        {{#if salencyDropdown}}
          <select name="salency" id="{{id}}-salency-select">
            {{#each salencyTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
          <br>
        {{else}}
          <br>
          {{#each salencyTypes}}
            <input type="radio" id="{{../id}}-sal-radio-{{this}}" name="{{../id}}-salency_type" value="{{this}}">
            <label for="{{../id}}-sal-radio-{{this}}">{{this}}</label><br>
          {{/each}}
        {{/if}}
        <span id="{{id}}-saliency-step">
        </span>
      {{/if}}
    </div>
  </div>

  <!-- Panels -->
  <div class="subpanels-div">
  {{#each panels}}
    <div
      class="subpanel {{panelId}}-panel subpanel-{{@index}}"
      id="{{../id}}-{{panelId}}-subpanel"
    >
      <div class="subpanel-title">
        {{title}}
      </div>
      <hr>
      <div id={{../id}}-{{panelId}}-content>
        {{#if hasImg}}
          <img id="{{../id}}-{{panelId}}-image">
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>



